:root {
  // colors
  --primary-color: #1b59f8;
  --background-color: #f9f9f9;
  --divider-color: #e5e5e5;
  --nav-link-selected-color: #e8eefe;
  --dark-grey-color: #4d4d4d;
  --grey-color: #808080;

  //sizes
  --divider-height: 2px;
  --header-height: 95px;
  --nav-link-height: 42.5px;
  --nav-bar-border-radius: 20px;
  --nav-link-border-radius: 10px;
}
