.header {
  position: relative;
  height: var(--header-height);
  padding-top: 27px;
  box-sizing: border-box;

  &__content {
    margin-left: 54px;
    margin-right: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: black;
    font-size: 28px;
    font-weight: 700;
  }

  .divider {
    position: absolute;
    left: 28px;
    right: 46px;
    bottom: 0;
  }
}
