.header{
  height: var(--header-height);
  padding-top: 27px;
  box-sizing: border-box;
  &-content{
    margin-left: 54px;
    margin-right: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}