.nav-bar-container {
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 10;

  .nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 18px;
    background: white;
    border-top-right-radius: var(--nav-bar-border-radius);
    border-bottom-right-radius: var(--nav-bar-border-radius);
    display: grid;
    grid-template-rows: var(--header-height) auto var(--divider-height) 112px;

    .help-title {
      margin-top: 40px;
      padding: 0 17px;
      color: grey;
      font-size: 16px;
      font-weight: 600;
    }

    .nav-list {
      list-style-type: none;
      padding: 0 7px;
      margin: 0;

      &__item {
        margin-bottom: 5px;
      }

      &_help {
        margin-top: 20px;
      }
    }
  }
}