:root {
  // colors
  --color-primary: #1B59F8;
  --background-color: #F9F9F9;
  --divider-color: #E5E5E5;

  //colors-opacity
  --accent-text-color: rgba(black, 0.7);
  --text-color: rgba(black, 0.5);
  --nav-link-selected-background: rgba(var(--color-primary), 0.1);

  //sizes
  --divider-height: 2px;
  --header-height: 95px;
  --nav-link-height: 42.5px;
  --navbar-border-radius: 20px;
}